{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<header class="sub-header vert-middle">
  <h4>About Us</h4>
</header>
<section>
    <small> ABOUT US </small>
    <h2>About Organization</h2>
    <p>
      The Govt. of AP has formed 7 different Missions to achieve double
      digit growth for the state and to make AP among the most developed
      state in the country. Among these, the Knowledge and Skills Mission
      has been formed to provide trained and skilled manpower to all other
      Missions. To bring the faster execution State Government Andhra
      Pradesh has established The Department of Skill Development,
      Entrepreneurship and Innovation (DSDEI) has been further created to
      coordinate and synergize skilling efforts of all departments. Under
      which APSSDC and SEEDAP is formed. <br>
    </p>

    <article>
      <h3>Context</h3>
      <div class="clearfix"></div>
      <p>To target 20 million people in AP in next 15 years towards
        skilling and entrepreneurship to meet skilled human power demands of
        all Missions and shape AP as the skilled-workforce and knowledge hub
        for the world</p>
    </article>

    <article id="vision">
      <h3>Vision</h3>
      <div class="clearfix"></div>
      <p>The Government of Andhra Pradesh has the vision (Swarna Andhra
        Vision 2029) to make Andhra Pradesh among the three best states in
        India by 2022 when India celebrates its 75th year of independence
        and to achieve the status of a developed state by 2029.</p>
    </article>

    <article>
      <h3>Mission</h3>
      <div class="clearfix"></div>
      <p>Andhra Pradesh itself will have a requirement of approximately
        10 million Skilled workers between 2012 till 2022, across the
        high-priority and emerging sectors.</p>
    </article>

    <article>
      <h3>Andhra Pradesh - Scenario</h3>
      <div class="clearfix"></div>
      <p>Andhra Pradesh has a population of 4.94 Crore as 10 populous
        state of country. The state has 13 districts,Andhra Pradesh is
        strategically located with a 974 km coastline, The state has 30
        existing urban centers, 3 mega cities and 12 smart cities planned.
        Andhra Pradesh has a huge potential for the job market as the
        various industrial belts are been planned.</p>
    </article>

  </section>
{% endblock %}