html,body {
    overflow-x: hidden;
}
/** {
    font-family: 'Montserrat', sans-serif;
}*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

.font-agency {
    font-size: 18px;
    font-family: agency fb;
}

.p-3 {
    padding: 30px;
}

.m-3{
    margin: 2px;
}

.mml-2{
    margin-left: -2px;
}

.m-t-2 {
    margin-top: 10px;
}

.m-b-2 {
    margin-bottom: 10px;
}

.gmap-cus {
    width: 100%;
}

.row .ccard {
    background-color: #FFF;
}

.row .ccard:hover {
    background-color: honeydew;
    border-radius: 8px;
}
/*.img-banner{}*/
.corner-svg {
    background-image:url("/static/images/samples/corner.svg");
    background-size:200%;
    width:100%;
    height:auto;
    background-attachment:fixed;    
}

.cbtn {
    padding: 8px;
    background:transparent;
    /*border: transparent 0px #FFF;*/
    border-radius: 3px;
    margin: 10px;
    border-width: 0px;
    /*transition: border-width 0.6s linear;*/
    border: solid 0px #FFF;
    transition: border-width 0.2s;
}
.cbtn:hover { border-width: 2px; }

.cbtn-primary {
    box-shadow: 0px 0px 3px #337ab7;   
    background-color: #337ab7;
    color: #FFF;
}

.text-blue {
    color: #00aaff;
}
.text-white {
    color: #FFF;
}

.text-black {
    color: #212121;
}


.bg-elegant {
    background-color: #2E2E2E;
}

.bg-black {
    background-color: #000;
}

.p-2 {
    padding: 10px;
}
.w-100 {width:100%; }

.text-vcenter {
    vertical-align: middle;
    align-items: center;
    position: relative;
}



.text-20 {
    font-size: 28px;
}

.text-bloder {
    font-weight: bolder;
}

.table-overme {box-shadow: 0px 0px 0px #ccc;}
.table-overme:hover {color:chocolate;box-shadow: -5px 0px 10px #212121;cursor: pointer;}

.uline:after {
    content: '';
    width: 54px;
    height: 3px;
    background: #337ab7;
    position: absolute;
    bottom: 100;
    left: 0;
    margin:40px 0px 0px 30px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    border-bottom: 0px;
}

.ualine:after {
    content: '';
    width: 54px;
    height: 3px;
    background: #337ab7;
    position: absolute;
    bottom: 100;
    left: 0;
    margin:40px 0px 0px 12px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
    border-bottom: 0px;
}

.gallery:before {
    content:'IMAGE GALLERY';
    font-size: 9px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    color: gray;
    text-shadow: 0px 0px 0px honeydew;
}

.contact:before {
    content:'CONTACT DETAILS';
    font-size: 9px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    color: gray;
}

.address:before {
    content:'REGISTERED ADDRESS';
    font-size: 9px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    color: gray;
}

.connectWithAPSSDC:before {
    content:'CONNECT WITH APSSDC';
    font-size: 9px;
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    color: gray;
}


/*.sub-header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}*/

.img-gallery{
    background-image:url("/static/Images/contact-email-fashion-4970.jpg");
    padding: 20px;
    background-size: cover !important;
    text-align: center;
    min-height: 190px;
    position: relative;
    background-position: center !important
}


.img-contact{
    background-image:url("/static/Images/contact-email-fashion-4970.jpg");
    background-size:cover !important;
    position: relative;
    background-position: center !important;
    width:100%;
    height:250px;
    background-attachment:fixed;
    background-blend-mode: color-burn;
    background-color: rgba(0,0,0,0.4); 
}

.img-careers{
    background-image:url("/static/Images/samples/abc-accomplished-alphabet-48898.jpg");
    padding: 20px;
    background-size: cover !important;
    text-align: center;
    min-height: 190px;
    position: relative;
    background-position: center !important
}

.img-careers h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin: 0;
    position: relative;
    z-index: 2;
}

/*.sub-header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}*/


h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}
#secondHeader
{
	background: #016d34;
}



.navbar-default .navbar-nav>li>a{
	color: #fff;
	height: 50px;
}
.navbar-default .navbar-nav>li>a:hover
{
	background-color: white;
	border-bottom:3px solid orange;
}
.navbar.dropdown-item
{
    padding: 15px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
    font-size: 12px;
    white-space: initial !Important;
    line-height: 15px;
}

.carousel-inner{
  max-height: 450px !important;
}
.panel-primary>.panel-heading
{
	background-image: linear-gradient(#033e7c, #054a93);
}
.panel-group .panel 
{
	height: 300px;
}
div.card.card-body
{
	height: 145px;
	margin-bottom: 10px;
	background-image: url(/static/images/Productivity-Books-640x360.png);
	color: white;
	border-radius: 10px;

}
img {
    max-width: 100%;
    max-height: 100%;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.milestones .achievement-box {
    margin: 0 0 20px;
}
.milestones .achievement-box:nth-child(1) .achv-icon {
    background: #ed9a3f;
}
.milestones .achievement-box:nth-child(2) .achv-icon {
    background: #51b4b8;
}
.milestones .achievement-box:nth-child(3) .achv-icon {
    background: #c82f30;
}
.milestones .achievement-box:nth-child(4) .achv-icon {
    background: #3f9bed;
}
.milestones .achievement-box:nth-child(5) .achv-icon {
    background: #d22d43;
}
.milestones .achievement-box:nth-child(6) .achv-icon {
    background: #009227;
}
.milestones .achv-description {
    background: #e6e6e6;
    border-radius: 0px 5px 5px 0px;
    justify-content: flex-start;
}
.milestones .achievement-box {
    margin: 0 0 20px;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sub-footer {
    background: #222;
    color: white;
    padding: 20px;
}
.footer .footer-links {
    border-right: 1px solid rgba(238, 238, 238, 0.15);
}
.footer .sub-footer li {
    font-size: 9px;
    line-height: 13px;
    color: #b7b7b7;
}
.event-info h3 {
	font-size: 15px;
}
.event-info
{
	background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 1px;
    align-items: center;
    justify-content: flex-start;
    border-top: 4px solid #034081;
}

.director-board img {
    height: 100px;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    background: rgb(34, 34, 34);
    /*padding: 5px;*/
    font-family: Montserrat, sans-serif;
}

footer .sub-footer {
    padding: 10px;
    background: rgb(51, 51, 51);
}

footer .sub-footer h4 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

footer .sub-footer li a {
    color: rgb(183, 183, 183);
    font-size: 11px;
    line-height: 20px;
}

footer .sub-footer li {
    color: rgb(183, 183, 183);
    font-size: 11px;
    line-height: 20px;
}

footer .footer-links {
    border-right: 1px solid rgba(238, 238, 238, 0.15);
}


/**, ::after, ::before {
    box-sizing: border-box;
}*/